<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Words</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    {% block extra_style %}{% endblock %}


  </head>

  <body>

    <nav class="navbar navbar-inverse fixed-top">
      <a class="navbar-brand" href="#">Words</a>
    </nav>

    <div style="padding-left: 20px;padding-right: 20px;padding-top: 10px" id="main">
    <br><br>
      {% block body %}{% endblock %}

    </div><!-- /.container -->



  </body>
</html>
