{% extends "base.html" %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/waitMe.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/waitMe.js') }}"></script>
{% endblock %}


{% block body %}

<form action="" method="post" name="form" onsubmit="run_waitMe();">
  <div class="form-group">
    <label for="inputUrl">URL</label>
    <input type="text" class="form-control" id="inputUrl" name="url" placeholder="Insert URL here...">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<br>
{% if url %}
<p>Requested URL:{{ url }}</p>
{% endif %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

{% if warn %}
<div class="alert alert-warning" role="alert">{{ warn }}</div>
{% endif %}

{% if info %}
<div class="alert alert-info" role="alert">{{ info }}</div>
{% endif %}

{% if longest %}
<div class="panel panel-default">
  <div class="panel-heading">Longest word</div>
  <div class="panel-body">
    {% for l in longest %}{{ l }}<br> {% endfor %}
  </div>
</div>
{% endif %}


{% if letters %}
<div class="panel panel-default">
  <div class="panel-heading">Most common letter:</div>
  <div class="panel-body">
    {% for l in letters %}{{ l }}<br> {% endfor %}
  </div>
</div>
{% endif %}

{% if words %}
<div class="panel panel-default">
  <div class="panel-heading">Word's frequency</div>
<table class="table table-condensed" style="width:50%;">
    <tr><th>Word</th><th>word frequncy</th></tr>
    {% for w in words %}
    <tr><td> {{ w.0 }} </td><td> {{ w.1 }} </td></tr>
    {% endfor %}
</table>
</div>
{% endif %}

<script>
function run_waitMe(){
  $('#main').waitMe({
    effect : 'roundBounce',
    text : 'Please wait...',
    bg : 'rgba(255,255,255,0.9)',
    color : '#000',
    onClose: function(){}
  });
}
</script>

{% endblock %}
